/* Margin */
.m-1 {--margin-l: 2px;--margin-r: 2px;--margin-t: 2px;--margin-b: 2px;}
.m-2 {--margin-l: 8px;--margin-r: 8px;--margin-t: 8px;--margin-b: 8px;}
.m-3 {--margin-l: 16px;--margin-r: 16px;--margin-t: 16px;--margin-b: 16px;}
.m-4 {--margin-l: 32px;--margin-r: 32px;--margin-t: 32px;--margin-b: 32px;}
.ml-1 {--margin-l: 2px} .ml-2 { --margin-l: 8px } .ml-3 { --margin-l: 16px } .ml-4 { --margin-l: 32px }
.mr-1 {--margin-r: 2px} .mr-2 { --margin-r: 8px } .mr-3 { --margin-r: 16px } .mr-4 { --margin-r: 32px }
.mt-1 {--margin-t: 2px} .mt-2 { --margin-t: 8px } .mt-3 { --margin-t: 16px } .mt-4 { --margin-t: 32px }
.mb-1 {--margin-b: 2px} .mb-2 { --margin-b: 8px } .mb-3 { --margin-b: 16px } .mb-4 { --margin-b: 32px }
.mx-1 {--margin-l: 2px; --margin-r: 2px} .mx-2 {--margin-l: 8px;  --margin-r: 8px }
.mx-3 {--margin-l: 16px; --margin-r: 16px} .mx-4 {--margin-l: 32px; --margin-r: 32px }
.my-1 {--margin-t: 2px; --margin-b: 2px} .my-2 {--margin-t: 8px;  --margin-b: 8px }
.my-3 {--margin-t: 16px; --margin-b: 16px} .my-4 {--margin-t: 32px; --margin-b: 32px }
*[class*="m-"]  {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="mx-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="my-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="ml-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="mt-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="mr-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}
*[class*="mb-"] {margin: var(--margin-t, 0px) var(--margin-r, 0px) var(--margin-b, 0px) var(--margin-l, 0px);}

/* Padding */
.p-1 {--padding-l: 2px;--padding-r: 2px;--padding-t: 2px;--padding-b: 2px;}
.p-2 {--padding-l: 8px;--padding-r: 8px;--padding-t: 8px;--padding-b: 8px;}
.p-3 {--padding-l: 16px;--padding-r: 16px;--padding-t: 16px;--padding-b: 16px;}
.p-4 {--padding-l: 32px;--padding-r: 32px;--padding-t: 32px;--padding-b: 32px;}
.pl-1 {--padding-l: 2px} .pl-2 { --padding-l: 8px } .pl-3 { --padding-l: 16px } .pl-4 { --padding-l: 32px }
.pr-1 {--padding-r: 2px} .pr-2 { --padding-r: 8px } .pr-3 { --padding-r: 16px } .pr-4 { --padding-r: 32px }
.pt-1 {--padding-t: 2px} .pt-2 { --padding-t: 8px } .pt-3 { --padding-t: 16px } .pt-4 { --padding-t: 32px }
.pb-1 {--padding-b: 2px} .pb-2 { --padding-b: 8px } .pb-3 { --padding-b: 16px } .pb-4 { --padding-b: 32px }
.px-1 {--padding-l: 2px; --padding-r: 2px} .px-2 {--padding-l: 8px;  --padding-r: 8px }
.px-3 {--padding-l: 16px; --padding-r: 16px} .px-4 {--padding-l: 32px; --padding-r: 32px }
.py-1 {--padding-t: 2px; --padding-b: 2px} .py-2 {--padding-t: 8px;  --padding-b: 8px }
.py-3 {--padding-t: 16px; --padding-b: 16px} .py-4 {--padding-t: 32px; --padding-b: 32px }
*[class*="p-"]  {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="px-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="py-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="pl-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="pt-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="pr-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}
*[class*="pb-"] {padding: var(--padding-t, 0px) var(--padding-r, 0px) var(--padding-b, 0px) var(--padding-l, 0px);}

/* Border Radius */
.br-1 {--border-radius-tl: 2px;--border-radius-tr: 2px;--border-radius-bl: 2px;--border-radius-br: 2px;}
.br-2 {--border-radius-tl: 8px;--border-radius-tr: 8px;--border-radius-bl: 8px;--border-radius-br: 8px;}
.br-3 {--border-radius-tl: 16px;--border-radius-tr: 16px;--border-radius-bl: 16px;--border-radius-br: 16px;}
.br-4 {--border-radius-tl: 32px;--border-radius-tr: 162px;--border-radius-bl: 32px;--border-radius-br: 32px;}
.br-tl-1 {--border-radius-tl: 2px} .br-tl-2 { --border-radius-tl: 8px } .br-tl-3 { --border-radius-tl: 16px } .br-tl-4 { --border-radius-tl: 32px }
.br-tr-1 {--border-radius-tr: 2px} .br-tr-2 { --border-radius-tr: 8px } .br-tr-3 { --border-radius-tr: 16px } .br-tr-4 { --border-radius-tr: 32px }
.br-bl-1 {--border-radius-bl: 2px} .br-bl-2 { --border-radius-bl: 8px } .br-bl-3 { --border-radius-bl: 16px } .br-bl-4 { --border-radius-bl: 32px }
.br-br-1 {--border-radius-br: 2px} .br-br-2 { --border-radius-br: 8px } .br-br-3 { --border-radius-br: 16px } .br-br-4 { --border-radius-br: 32px }
*[class*="br-"]  {border-radius: var(--border-radius-tl, 0px) var(--border-radius-tr, 0px) var(--border-radius-bl, 0px) var(--border-radius-br, 0px);}

/* Utils */
.w-100 { width: 100% }
.w-80  { width: 80% }
.w-60  { width: 60% }
.w-50  { width: 50% }
.w-40  { width: 40% }
.w-20  { width: 20% }

/* Align */
.align-start { align-self: start }
.align-end   { align-self: end }

/* Flex */
.flex { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }

.gap-1 { --gap: 2px } .gap-2 { --gap: 4px } .gap-3 { --gap: 8px } .gap-4 { --gap: 16px }
*[class*="gap-"] { gap: var(--gap) }
